<footer class="footer footer-light" data-v-61548470>
  <!---->
  <div class="container footer-inner" data-v-61548470>
    <div class="columns is-multiline" data-v-61548470>
      <div class="column is-8 b-centered-tablet-p b-centered-mobile" data-v-61548470>
        <div class="columns is-flex-tablet is-flex-mobile" data-v-61548470>
          <div class="column is-4" data-v-61548470>
            <div class="footer-group" data-v-61548470>
              <!--[-->
              <!--[-->
              <!---->
              <!---->
              <h3 class="title is-6 is-thin" data-v-61548470 data-v-30c713ee>
                <!--[-->
                <span data-v-61548470>Discover</span>
                <!--]-->
              </h3>
              <!--]-->
              <ul class="link-list" data-v-61548470>
                <li data-v-61548470>
                  <a href="../index.html" class="level-item footer-link" data-v-61548470>Get Started</a>
                </li>
                <li data-v-61548470>
                  <a href="../index.html" class="level-item footer-link" data-v-61548470>Product</a>
                </li>
                <li data-v-61548470>
                  <a href="../index.html" class="level-item footer-link" data-v-61548470>Features</a>
                </li>
                <li data-v-61548470>
                  <a href="../index.html" class="level-item footer-link" data-v-61548470>Sign Up</a>
                </li>
                <li data-v-61548470>
                  <a href="../index.html" class="level-item footer-link" data-v-61548470>Sign In</a>
                </li>
              </ul>
              <!--]-->
            </div>
          </div>
          <div class="column is-4" data-v-61548470>
            <div class="footer-group" data-v-61548470>
              <!--[-->
              <!--[-->
              <!---->
              <!---->
              <h3 class="title is-6 is-thin" data-v-61548470 data-v-30c713ee>
                <!--[-->
                <span data-v-61548470>Company</span>
                <!--]-->
              </h3>
              <!--]-->
              <ul class="link-list" data-v-61548470>
                <li data-v-61548470>
                  <a href="../index.html" class="level-item footer-link" data-v-61548470>Company</a>
                </li>
                <li data-v-61548470>
                  <a href="../index.html" class="level-item footer-link" data-v-61548470>About</a>
                </li>
                <li data-v-61548470>
                  <a href="../index.html" class="level-item footer-link" data-v-61548470>Training</a>
                </li>
                <li data-v-61548470>
                  <a href="../index.html" class="level-item footer-link" data-v-61548470>FAQs</a>
                </li>
                <li data-v-61548470>
                  <a href="../index.html" class="level-item footer-link" data-v-61548470>Contact</a>
                </li>
              </ul>
              <!--]-->
            </div>
          </div>
          <div class="column is-4" data-v-61548470>
            <div class="footer-group" data-v-61548470>
              <!--[-->
              <!--[-->
              <!---->
              <!---->
              <h3 class="title is-6 is-thin" data-v-61548470 data-v-30c713ee>
                <!--[-->
                <span data-v-61548470>Support</span>
                <!--]-->
              </h3>
              <!--]-->
              <ul class="link-list" data-v-61548470>
                <li data-v-61548470>
                  <a href="../index.html" class="level-item footer-link" data-v-61548470>Help Center</a>
                </li>
                <li data-v-61548470>
                  <a href="../index.html" class="level-item footer-link" data-v-61548470>Guides</a>
                </li>
                <li data-v-61548470>
                  <a href="../index.html" class="level-item footer-link" data-v-61548470>API Docs</a>
                </li>
                <li data-v-61548470>
                  <a href="../index.html" class="level-item footer-link" data-v-61548470>Terms</a>
                </li>
                <li data-v-61548470>
                  <a href="../index.html" class="level-item footer-link" data-v-61548470>Privacy</a>
                </li>
              </ul>
              <!--]-->
            </div>
          </div>
        </div>
      </div>
      <div class="column is-4 b-centered-mobile b-centered-tablet-p" data-v-61548470>
        <div class="footer-group" data-v-61548470>
          <a class="is-flex j-center-mobile j-center-tablet-p footer-logo-left css-ninja" href="#" data-v-61548470>
            <img style="width:77px;height:77px;margin:0 auto;" src="assets/logo/logo.png" alt="Footer logo"
              data-v-61548470>
            <span class="is-sr-only" data-v-61548470>Logo</span>
          </a>
          <p class="footer-text rem-90 max-w-3 mt-4 b-centered-tablet-p" style="text-align:center;margin:0 auto;"
            data-v-61548470>SPARK (Scam Protection and Rugpull Killer) is the first of its kind scam protection API for
            NFT marketplaces</p>
          <div class="level is-mobile py-4 max-w-1 small:mx-auto" data-v-61548470>
            <!--[-->
            <a href="https_/facebook.json" class="level-item footer-link" data-v-61548470>
              <span class="icon" data-v-61548470>
                <i class="iconify" data-icon="fa:facebook" data-v-61548470></i>
                <span class="is-sr-only" data-v-61548470>Facebook</span>
              </span>
            </a>
            <a href="https_/twitter.json" class="level-item footer-link" data-v-61548470>
              <span class="icon" data-v-61548470>
                <i class="iconify" data-icon="fa:twitter" data-v-61548470></i>
                <span class="is-sr-only" data-v-61548470>Twitter</span>
              </span>
            </a>
            <a href="https_/linkedin.json" class="level-item footer-link" data-v-61548470>
              <span class="icon" data-v-61548470>
                <i class="iconify" data-icon="fa:linkedin" data-v-61548470></i>
                <span class="is-sr-only" data-v-61548470>Linkedin</span>
              </span>
            </a>
            <a href="https_/github.json" class="level-item footer-link" data-v-61548470>
              <span class="icon" data-v-61548470>
                <i class="iconify" data-icon="fa:github" data-v-61548470></i>
                <span class="is-sr-only" data-v-61548470>GitHub</span>
              </span>
            </a>
            <!--]-->
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container copyright pt-12" data-v-61548470>
    <div class="is-flex is-align-items-center is-justify-content-space-between d-column-r-mobile d-column-r-tablet-p"
      data-v-61548470>
      <div class="py-4" data-v-61548470>
        <span class="footer-text rem-90" data-v-61548470>
          <span role="img" aria-label="copyright" data-v-61548470>©</span>2022 Spark. All rights reserved.</span>
      </div>
      <div class="has-text-centered" data-v-61548470>
        <div class="field is-grouped" data-v-61548470 data-v-a8b76bd6>
          <!--[-->
          <div class="control has-icon is-invalid is-expanded" data-v-61548470 data-v-905133f2>
            <!--[-->
            <input type="text" placeholder="Email Address" aria-label="input" class="input" data-v-61548470
              data-v-31e5e2c8>
            <!--]-->
            <div class="form-icon" data-v-905133f2>
              <i class="iconify" data-icon="feather:mail" data-v-905133f2></i>
            </div>
            <!---->
            <!---->
            <!---->
          </div>
          <div class="control is-invalid" data-v-61548470 data-v-905133f2>
            <!--[-->
            <button class="button is-form is-primary" data-v-61548470 data-v-1b296556>
              <!---->
              <!--[-->Subscribe
              <!--]-->
              <!---->
            </button>
            <!--]-->
            <!---->
            <!---->
            <!---->
            <!---->
          </div>
          <!--]-->
        </div>
      </div>
    </div>
  </div>
</footer>
</div>
<div class="progress-wrap" data-v-37d02131>
  <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102" data-v-37d02131>
    <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" data-v-37d02131>
    </path>
  </svg>
</div>
<!--]-->
<!---->
<!--]-->
</div>
<script>
  window.__Spark__ = { pinia: { darkmode: {} } }
</script>
<script src="assets/ajs.js"></script>
</body>

</html>