<!-- Page Content  -->
<div id="content-page" class="content-page">
    <div class="container-fluid">
        <div class="row content-body">
            <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
                    <div class="iq-card-body iq-box-relative">
                        <div class="iq-service d-flex align-items-center justify-content-between"
                            style="margin-top:0px;">
                            <div class="service-data">
                                <h2 style="font-size:19px;font-weight:500;">Duplicates</h2>
                                <p class="mb-0" style="font-size:12px;">Plagurised NFTs</p>
                            </div>
                            <div class="btn-item">
                                <div class="toggle-pill-color">
                                    <input type="checkbox" id="pill1" name="check-dupes">
                                    <label for="pill1"></label>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="iq-card-header-toolbar d-flex align-items-center">
                            <div class="dropdown" style="color:#999;background-color:#fff;">
                                <span class="dropdown-toggle dropdown-bg" id="dropdownMenuButton1"
                                    data-toggle="dropdown"
                                    style="cursor:pointer;margin-right:10px;padding-left:3px;padding-right:3px;border-radius:8px;background:#fff;color: #999;font-size:30px;">
                                    ...
                                </span>
                                <div class="dropdown-menu dropdown-menu-right shadow-none"
                                    aria-labelledby="dropdownMenuButton1">
                                    <a class="dropdown-item" href="#">Past Day</a>
                                    <a class="dropdown-item" href="#">7 Days</a>
                                    <a class="dropdown-item" href="#">28 Days</a>
                                    <a class="dropdown-item" href="#">All Time</a>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="iq-service d-flex align-items-center justify-content-between"
                            style="margin-top:0px;padding-bottom:10px;">
                            <div class="service-data">
                                <h2 style="font-size:14px;font-weight:500;">Total Detected</h2>
                                <p class="mb-0" style="font-size:12px;">Past 28 days</p>
                            </div>
                            <h1 style="font-size:32px;">9,012</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
                    <div class="iq-card-body iq-box-relative">
                        <div class="iq-service d-flex align-items-center justify-content-between">
                            <div class="service-data">
                                <h2 style="font-size:19px;font-weight:500;">Branding</h2>
                                <p class="mb-0" style="font-size:12px;">Plagurised Branding</p>
                            </div>
                            <div class="btn-item">
                                <div class="toggle-pill-color">
                                    <input type="checkbox" id="pill2" name="check-branding">
                                    <label for="pill2"></label>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="iq-card-header-toolbar d-flex align-items-center">
                            <div class="dropdown" style="color:#999;background-color:#fff;">
                                <span class="dropdown-toggle dropdown-bg" id="dropdownMenuButton1"
                                    data-toggle="dropdown"
                                    style="cursor:pointer;margin-right:10px;padding-left:3px;padding-right:3px;border-radius:8px;background:#fff;color: #999;font-size:30px;">
                                    ...
                                </span>
                                <div class="dropdown-menu dropdown-menu-right shadow-none"
                                    aria-labelledby="dropdownMenuButton1">
                                    <a class="dropdown-item" href="#">Past Day</a>
                                    <a class="dropdown-item" href="#">7 Days</a>
                                    <a class="dropdown-item" href="#">28 Days</a>
                                    <a class="dropdown-item" href="#">All Time</a>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="iq-service d-flex align-items-center justify-content-between"
                            style="margin-top:0px;padding-bottom:10px;">
                            <div class="service-data">
                                <h2 style="font-size:14px;font-weight:500;">Total Detected</h2>
                                <p class="mb-0" style="font-size:12px;">Past 28 days</p>
                            </div>
                            <h1 style="font-size:32px;">2,034</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
                    <div class="iq-card-body iq-box-relative">
                        <div class="iq-service d-flex align-items-center justify-content-between">
                            <div class="service-data">
                                <h2 style="font-size:19px;font-weight: 500;">Adult Content</h2>
                                <p class="mb-0" style="font-size:12px;">Nudity, Drugs etc.</p>
                            </div>
                            <div class="btn-item">
                                <div class="toggle-pill-color">
                                    <input type="checkbox" id="pill3" name="check-adult">
                                    <label for="pill3"></label>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="iq-card-header-toolbar d-flex align-items-center">
                            <div class="dropdown" style="color:#999;background-color:#fff;">
                                <span class="dropdown-toggle dropdown-bg" id="dropdownMenuButton1"
                                    data-toggle="dropdown"
                                    style="cursor:pointer;margin-right:10px;padding-left:3px;padding-right:3px;border-radius:8px;background:#fff;color: #999;font-size:30px;">
                                    ...
                                </span>
                                <div class="dropdown-menu dropdown-menu-right shadow-none"
                                    aria-labelledby="dropdownMenuButton1">
                                    <a class="dropdown-item" href="#">Past Day</a>
                                    <a class="dropdown-item" href="#">7 Days</a>
                                    <a class="dropdown-item" href="#">28 Days</a>
                                    <a class="dropdown-item" href="#">All Time</a>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="iq-service d-flex align-items-center justify-content-between"
                            style="margin-top:0px;padding-bottom:10px;">
                            <div class="service-data">
                                <h2 style="font-size:14px;font-weight:500;">Total Detected</h2>
                                <p class="mb-0" style="font-size:12px;">Past 28 days</p>
                            </div>
                            <h1 style="font-size:32px;">312</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
                    <div class="iq-card-body iq-box-relative">
                        <div class="iq-service d-flex align-items-center justify-content-between">
                            <div class="service-data">
                                <h2 style="font-size:19px;font-weight:500;">Hate Speech</h2>
                                <p class="mb-0" style="font-size:12px;">Racism, Swearing etc.</p>
                            </div>
                            <div class="btn-item">
                                <div class="toggle-pill-color">
                                    <input type="checkbox" id="pill4" name="check-hate">
                                    <label for="pill4"></label>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="iq-card-header-toolbar d-flex align-items-center">
                            <div class="dropdown" style="color:#999;background-color:#fff;">
                                <span class="dropdown-toggle dropdown-bg" id="dropdownMenuButton1"
                                    data-toggle="dropdown"
                                    style="cursor:pointer;margin-right:10px;padding-left:3px;padding-right:3px;border-radius:8px;background:#fff;color: #999;font-size:30px;">
                                    ...
                                </span>
                                <div class="dropdown-menu dropdown-menu-right shadow-none"
                                    aria-labelledby="dropdownMenuButton1">
                                    <a class="dropdown-item" href="#">Past Day</a>
                                    <a class="dropdown-item" href="#">7 Days</a>
                                    <a class="dropdown-item" href="#">28 Days</a>
                                    <a class="dropdown-item" href="#">All Time</a>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="iq-service d-flex align-items-center justify-content-between"
                            style="margin-top:0px;padding-bottom:10px;">
                            <div class="service-data">
                                <h2 style="font-size:14px;font-weight:500;">Total Detected</h2>
                                <p class="mb-0" style="font-size:12px;">Past 28 days</p>
                            </div>
                            <h1 style="font-size:32px;">56</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="iq-card">
                    <div class="iq-card-header d-flex justify-content-between">
                        <div class="iq-header-title">
                            <h4 class="card-title">Analytics</h4>
                        </div>
                    </div>
                    <div class="iq-card-body">
                        <div id="apex-basic"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="iq-card" style="height:465px;">
                    <div class="iq-card-header d-flex justify-content-between">
                        <div class="iq-header-title">
                            <div class="iq-card-header-toolbar d-flex align-items-center">
                                <h4 class="card-title">Total Credits: <b>1000</b></h4>
                                <div class="dropdown"
                                    style="color:#999;background-color:#fff;margin-right:20px;height:0px;margin-top:-70px;padding-top:0px;">
                                    <span class="dropdown-toggle dropdown-bg" id="dropdownMenuButton1"
                                        data-toggle="dropdown"
                                        style="cursor:pointer;height:0px;padding-top:0px;padding-bottom:10px;padding-left:3px;padding-right:3px;border-radius:8px;background:#fff;color: #999;font-size:30px;">
                                        ...
                                    </span>
                                    <div class="dropdown-menu dropdown-menu-right shadow-none"
                                        aria-labelledby="dropdownMenuButton1">
                                        <a class="dropdown-item" href="#">Balance</a>
                                        <a class="dropdown-item" href="#">Top Up</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="iq-card-body">
                        <div id="apex-radialbar-chart"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="iq-card">
                    <div class="iq-card-header d-flex justify-content-between">
                        <div class="iq-header-title">
                            <h4 class="card-title">Override Controls</h4>
                        </div>
                    </div>
                    <div class="iq-card-body" style="height:240px;">
                        <ul style="list-style-type: none;float:left;">
                            <li>
                                <div class="btn-item-s">
                                    <div class="toggle-pill-color-s" style="display:inline;">
                                        <input type="checkbox" id="pill5" name="check-branding">
                                        <label for="pill5"></label>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="btn-item-s">
                                    <div class="toggle-pill-color-s" style="display:inline;">
                                        <input type="checkbox" id="pill6" name="check-branding">
                                        <label for="pill6"></label>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="btn-item-s">
                                    <div class="toggle-pill-color-s" style="display:inline;">
                                        <input type="checkbox" id="pill7" name="check-branding">
                                        <label for="pill7"></label>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="btn-item-s">
                                    <div class="toggle-pill-color-s" style="display:inline;">
                                        <input type="checkbox" id="pill8" name="check-branding">
                                        <label for="pill8"></label>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <ul style="list-style-type: none;float:right;">
                            <li style="padding-top:5px;padding-bottom:21px;">
                                <p style="display:inline;margin-left:20px;">Allow Drinking</p>
                            </li>
                            <li style="padding-bottom:21px;">
                                <p style="display:inline;margin-left:20px;">Allow Drugs</p>
                            </li>
                            <li style="padding-bottom:21px;">
                                <p style="display:inline;margin-left:20px;">Allow Hate Symbols</p>
                            </li>
                            <li style="padding-bottom:21px;">
                                <p style="display:inline;margin-left:20px;">Allow Profanity</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="iq-card legend-card" style="padding-right:20px;">
                    <div class="iq-card-header d-flex justify-content-between">
                        <div class="iq-header-title">
                            <h4 class="card-title">Legend</h4>
                        </div>
                    </div>
                    <ul style="list-style-type:none;float:left;padding-top:20px;">
                        <li style="padding-top:5px;padding-bottom:21px;">
                            <p style="display:inline;"><b>Duplicates:</b> Any file minted 2 or more times on our <a
                                    style="color:blue;text-decoration:underline;">list of blockchains</a>.</p>
                        </li>
                        <li style="padding-bottom:21px;">
                            <p style="display:inline;"><b>Branding:</b> A file that has been flagged as legal
                                branding (e.g. Nike logo)</p>
                        </li>
                        <li style="padding-bottom:21px;">
                            <p style="display:inline;"><b>Adult Content:</b> A file that has been flagged as nudity,
                                porn, gore etc.</p>
                        </li>
                        <li style="padding-bottom:21px;">
                            <p style="display:inline;"><b>Hate Speech:</b> A file containing profanity or symbols of
                                hate and racism</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="assets/js/chart-custom.js"></script>
