<!-- Page Content  -->
<div id="content-page" class="content-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-lg-6">

                <div class="iq-card" style="height:416px;">
                    <div class="iq-card-header d-flex justify-content-between">
                        <div class="iq-header-title">
                            <h4 class="card-title">Top Up Credits</h4>
                        </div>
                    </div>
                    <div class="iq-card-body">
                        <p>Need a custom amount of credits? Please contact our sales team <a href="#"
                                style="text-decoration:underline;">here</a>. Discounts may apply.</p>
                        <hr style="width:100%;">
                        <form>
                            <div class="form-group">
                                <label>Select Quantity</label>
                                <select class="form-control form-control-sm mb-3">
                                    <option selected="">Open this select menu</option>
                                    <option value="1">100</option>
                                    <option value="2">250</option>
                                    <option value="3">500</option>
                                    <option value="4">1000</option>
                                    <option value="5">2000</option>
                                    <option value="6">5000</option>
                                    <option value="7">10000</option>
                                </select>
                            </div>
                            <h3 style="display:inline-block;">$<span>10.00</span></h3>
                            <i style="display:inline-block;transform:translateY(-3px);margin-bottom:20px;"
                                class="la la-arrow-right"></i>
                            <h3 style="display:inline-block;"><span>100</span> Credits</h3>
                            <br>
                            <button type="submit" class="btn btn-primary">Purchase</button>
                        </form>
                    </div>
                </div>

            </div>
            <div class="col-sm-12 col-lg-6">
                <div class="iq-card">
                    <div class="iq-card-header d-flex justify-content-between">
                        <div class="iq-header-title">
                            <div class="iq-card-header-toolbar d-flex align-items-center">
                                <h4 class="card-title">Total Credits: <b>1000</b></h4>
                                <div class="dropdown"
                                    style="color:#999;background-color:#fff;margin-right:20px;height:0px;margin-top:-70px;padding-top:0px;">
                                    <span class="dropdown-toggle dropdown-bg" id="dropdownMenuButton1"
                                        data-toggle="dropdown"
                                        style="cursor:pointer;height:0px;padding-top:0px;padding-bottom:10px;padding-left:3px;padding-right:3px;border-radius:8px;background:#fff;color: #999;font-size:30px;">
                                        ...
                                    </span>
                                    <div class="dropdown-menu dropdown-menu-right shadow-none"
                                        aria-labelledby="dropdownMenuButton1">
                                        <a class="dropdown-item" href="#">Balance</a>
                                        <a class="dropdown-item" href="#">Top Up</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="iq-card-body">
                        <div id="apex-radialbar-chart"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="assets/js/chart-custom.js"></script>